@font-face {
  font-family: "Oswald";
  src:  url("../fonts/Oswaldregular.woff2"),
    url("../fonts/Oswaldregular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src:  url("../fonts/Oswaldmedium.woff2"),
    url("../fonts/Oswaldmedium.woff");
  font-weight: 500;
  font-style: normal;
}
